* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}

.wrapper {
    width: 1920px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: #fff;
    margin-right: 2.5rem;
}

.container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.container .hero-pic {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
    border: 20px solid #007ced;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.2);
}

.hero-text {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #fff;
    font-size: 22px;
}

.hero-text h5 span {
    color: #007ced;
    font-size: 24px;
}

.hero-text h1 {
    color: #007ced;
    font-size: 3rem;
}

.hero-text p {
    color: #e5e5e5;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgba(0 0 0 / 78%);
}

.btn.active {
    border-color: #007ced;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s
}

.hero-text .social i:hover {
    color: #007ced;
    transform: rotate(360deg);
}

.about {
    padding: 5%;
    background: #222;
}

.about-content h3 {
    color: #fff;
}

.about-content a {
    color: #007ced;
}

.h-main p {
    color: #fff;
    text-align: justify;
}

.h-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 20px;
}

.h-text h1 {
    font-size: 36px;
    color: #007ced;
    font-weight: 700;
}

.center p {
    text-align: justify;
    color: #fff;
    font-size: 16px;
    padding: 0 80px;
    line-height: 24px;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 4rem;
}

.box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.box a {
    border-bottom: 2px solid #007ced;
    color: #007ced;
    font-size: 14px;
}

.work {
    padding: 5%;
    background: #222;
}

.work-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.row-text {
    background: #333;
}

.row-text h5 {
    color: #fff;
    font-size: 12px;
    background: #333;
}

.row-text h4 {
    color: #fff;
    background: #333;
}

.row-icon {
    background-color: #333;
}

.row {
    background: #333;
    border-radius: 12px;
    border: 1px solid transparent;
    padding: 20px 20px;
    transition: all .7s;
}

.main-row {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.1rem;
}

.row h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.row h4 {
    font-size: 17px;
    font-weight: 600;
}

.row i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 50%;
    background:#333;
    color: #007ced;
}

.row:hover {
    border: 1px solid #007ced;
    transform: translateY(-3px) scale(1.02);
    cursor: pointer;
}

.contact {
    padding: 5%;
    background: #222;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.3rem;
}

.contact-form form {
    position: relative;
    width: 600px;
}

form input, form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #25262d;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}

form input::placeholder, 
form textarea::placeholder {
    color: #007ced;
    font-size: 16px;
}

form textarea {
    resize: none;
}

form .send-btn {
    display: inline-block;
    padding: 11px 25px;
    background: #007ced;
    color: #fff;
    border: 2px solid #007ced;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: all .6s;
    width: 30%;
    margin-left: 420px;
}

form .send-btn:hover {
    background: transparent;
    color: #007ced;
    box-shadow: 0 0 20px #007ced;
    cursor: pointer;
}

.end-content {
    background: #222;
    padding: 20px 19%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.copyright {
    color: #fff;
}

.copyright p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.scroll-top i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #007ced;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
}





















@media (max-width:930px)
{
    nav .togglebtn {
        display: initial;
    }
    .click {
        top: 45px;
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks {
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 40%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li {
        display: block;
    }
    nav .navlinks li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open {
        right: 0;
    }
}

@media(max-width:720px) {

    .hero-header {
        padding: 14px 8%;
    }

    .home {
        height: 85vh;
    }

    .container {
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text {
        padding: 40px 0px;
    }
}